body {
	background-color: #1e1e2e;
	color: #cdd6f4;
	max-width: 90em;
	margin-inline: auto;
}

#header {
	max-width: fit-content;
	justify-content: center;
	text-align: center;
	background-color: #313244;
	border-color: #6c7086;
	border-style: solid;
	border-width: thin;
	border-radius: 10px;
	padding: 10px 20px;
	margin-inline: auto;
}

#header a {
	text-decoration: none;
}

.flex-div {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.photo-box {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	background-color: #313244;
	border-color: #6c7086;
	border-style: solid;
	border-width: thin;
	border-radius: 10px;
	padding: 10px;
	margin: 10px;
}

.photo-box div {
	max-width: 40ch;
	margin: 10px;
	text-align: justify;
}

.photo-box img {
	border-radius: 10px;
	border-color: #7f849c;
	border-style: solid;
	border-width: thin;
}


#aboutme {
	text-align: center;
	max-width: 80ch;
	margin-inline: auto;
}

h2 {
	text-align: center;
}

a {
	color: #fab387;
}

.github {}

.project {
	background-color: #313244;
	text-align: center;
	border-radius: 10px;
	border-color: #6c7086;
	border-style: solid;
	border-width: thin;
	padding: 10px;
	margin: 10px;
	width: 300px;
}

.project-image {
	width: 100%;
	max-width: 250px;
	height: auto;
	display: inline-block;
	border-radius: 10px;
}


.project-image img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	border-radius: 10px;
}

:root {
	font-family: Inter, sans-serif;
	font-feature-settings: 'liga' 1, 'calt' 1;
	/* fix for Chrome */
}

@supports (font-variation-settings: normal) {
	:root {
		font-family: InterVariable, sans-serif;
	}
}
